body {
    font-family: sans-serif;
}

#static {
    position: static;
    padding: 50px;
    background-color: #00ffff;
    
}

#relative1 {
    position: relative;
    padding: 50px;
    background-color: #ff0000;
    color: #fff;

}

#relative2 {
    position: relative;
    width: 500px;
    padding: 30px;
    background-color: #00ff00;
    top: -30px;
    left: 30px;

}

#relative3 {
    position: relative;
    width: 600px;
    height: 400px;
    padding: 20px;
    background-color: #ffff00;

}

#absolute {
    position: absolute;
    width: 300px;
    height: 300px;
    color: #fff;
    background-color: #0000ff;
    padding: 20px;
    top: 120px;
    right: 0px;
}

#fixed {
    position: fixed;
    width: 200px;
    padding: 30px;
    background-color: #000;
    color: #fff;
    right: 0px; 
    bottom: 0px;
}