/*Layout >>>>>>>>>>*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*fim layout <<<<<<<<<<<*/



/*smartphone portrait >>>>>>>>>>*/
main {
    position: relative;
    height: 50vh;

}

main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#conteudoPrincipal {
    /*Centralização*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#conteudoPrincipal h1 {
    color: #fff;

}

#conteudoPrincipal h2 {
    font-size: 2.3rem;
    color: #fff;

}


/*fim smartphone <<<<<<<<<<<<*/



/*Pc Notebook >>>>>>>>>>*/

@media (min-width: 1200px) {
    main {
        height: 65vh;
    }

    #conteudoPrincipal h1 {
        color: #fff;

    }

    #conteudoPrincipal h2 {
        font-size: 2.3rem;
        color: #fff;

    }

}

/*fim PC Notebook <<<<<<<<<<<*/